@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Thin.ttf");
  font-weight: 100;
}
.social-networks, footer {
  display: flex;
  flex-direction: row;
}

.footer__copyright, .info_description, .response__form ::placeholder {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
}

.info__contacts, .quote {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
}

.quote {
  background-color: #f06c64;
  color: #f0d8d9;
  text-align: justify;
}

.quote__container {
  padding: 34px 40px 20px 40px;
}

.quote__header {
  font-family: "Lato";
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 0px;
}

.quote__description {
  margin-top: 18px;
  margin-bottom: 45px;
  line-height: 30px;
}

.quote__form_container {
  width: 619px;
}

.response__form {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}
.response__form ::placeholder {
  color: #f48c8f;
}
.response__form textarea {
  resize: none;
  height: 181px;
}

.form_input {
  margin-bottom: 17px;
  background-color: #d6564f;
  border: none;
  padding: 11px 15px;
  border-radius: 5px;
}

.qoute__response {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quote__info {
  width: 300px;
}

.info_description {
  line-height: 22px;
  text-align: justify;
  margin-bottom: 19px;
  word-wrap: break-word;
}

.info__contacts {
  font-size: 12px;
  line-height: 22px;
}
.info__contacts a {
  display: block;
  color: #f0d8d9;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 23px;
}
.info__contacts .contacts__city {
  margin-left: 3px;
  padding-left: 20px;
  background-image: url("../assets/images/icons/location.png");
}
.info__contacts .contacts_tel {
  background-image: url("../assets/images/icons/phone.png");
}
.info__contacts .contacts_mail {
  background-image: url("../assets/images/icons/mail.png");
}

.info_header {
  margin: -4px 0px;
}

#response-submit {
  width: 100px;
  height: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  color: #d6564f;
  background-color: #f0d8d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#response-submit:hover {
  cursor: pointer;
}

.quote_bottom {
  height: 6px;
  background-color: #ea676b;
}

footer {
  align-items: center;
  justify-content: space-between;
  padding: 20px 42px;
  background-color: #2d303a;
}

.footer__copyright {
  line-height: 22px;
  text-align: justify;
  color: #626984;
}

.social-networks {
  justify-content: flex-start;
  align-items: center;
  margin-right: -9px;
}
.social-networks span {
  padding-bottom: 5px;
  padding-right: 8px;
}

.social-networks__facebook {
  background-image: url("./assets/images/social/facebook.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.social-networks__facebook:hover {
  cursor: pointer;
  background-image: url("./assets/images/social/active/facebook-active.png");
}

.social-networks__google {
  background-image: url("./assets/images/social/google.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.social-networks__google:hover {
  cursor: pointer;
  background-image: url("./assets/images/social/active/google-active.png");
}

.social-networks__twitter {
  background-image: url("./assets/images/social/twitter.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
.social-networks__twitter:hover {
  cursor: pointer;
  background-image: url("./assets/images/social/active/twitter-active.png");
}

.social-networks__linkedin {
  background-image: url("./assets/images/social/linkedin.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  padding-right: 0;
}
.social-networks__linkedin:hover {
  cursor: pointer;
  background-image: url("./assets/images/social/active/linkedin-active.png");
}

/*# sourceMappingURL=singolo3.css.map */
