  
@import '_fonts.scss';

%flex-row {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1020px;
    min-width: 1020px;
    margin: auto;
}

.portfolio_bottom {
    height: 6px;
    background-color: #323746;
}

.portfolio {
    background-color: #2d303a;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    color: #767e9e;
}

.portfolio__container {
    padding: 60px 40px 66px 40px;
}

.portfolio__header {
    margin: auto;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.portfolio__description {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    color: #767e9e;
    margin-top: 22px;
    margin-bottom: 15px;
}

.about {
    // height: 734px;
    background-color: #f2f2f2;
}

.about__bottom {
    height: 6px;
    background-color: #ffffff;
}

.about__header {
    margin: 0;
    font-size: 30px;
    color: #666d89;
    font-family: 'Lato';
    font-weight: 900;
}

.about__description {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    color: #767e9e;
    margin-bottom: 44px;
}

.about__container {
    padding: 60px 40px 62px 40px;
}

.gallery__filtering {
    @extend %flex-row;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 18px;

    li {
        border: 1px solid #666d89;
        padding: 3px 7px;
        border-radius: 5px;
        margin-right: 8.5px;
        // letter-spacing: 1px;

        &:hover {
            color:  #dedede;
            border-color: #dedede;
            cursor: pointer;
        }
    }

    .active {
        color:  #dedede;
        border: 1px solid #dedede;
    }
}

.gallery__tiles {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    column-gap: 20px;
    row-gap: 20px;

    .tiles__tile {
        // TODO del
        background-color: green;
    }
}

.ship {
    background-image: url("./assets/images/gallery/ship.png");
    // background-position: top -9px left -7px;
    background-position: right -10px top -11px;
}

.face {
    background-image: url("./assets/images/gallery/face.png");
    background-position: center right -62px;
}

.town {
    background-image: url("./assets/images/gallery/town.png");
    background-position: right -19px top -1px;
}

.robot {
    background-image: url("./assets/images/gallery/robot.png");
    background-position: right -18px top -2px;
}

.animals {
    background-image: url("./assets/images/gallery/animals.png");
    background-position: right -12px top -16px;
}

.sdk {
    background-image: url("./assets/images/gallery/sdk.png");
    background-position: right -22px top -4px;
}

.space {
    background-image: url("./assets/images/gallery/space.png");
    background-position: right -121px top -39px;
}

.birds {
    background-image: url("./assets/images/gallery/birds.png");
    background-position: right -34px top -32px;
}

.monster {
    background-image: url("./assets/images/gallery/monster.png");
    background-position: right -18px top -2px;
}

.letter {
    background-image: url("./assets/images/gallery/letter.png");
    background-position: right -113px top -113px;
}

.ogre {
    background-image: url("./assets/images/gallery/ogre.png");
    background-position: right -50px bottom -50px;
}

.indicator {
    background-image: url("./assets/images/gallery/indicator.png");
    background-position: right -40px bottom -179px;
}

.personalities__photo {
    margin-right: 0;
    height: 300px;
    margin-bottom: 15px;
}

.about__personalities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personalities {
    width: 300px;
}

.jensen {
    background-image: url('./assets/images/faces/jensen.png');
}

.miles {
    background-image: url('./assets/images/faces/miles.png');
}

.visari {
    background-image: url('./assets/images/faces/visari.png');
}

.personalities__name {
    font-family: 'Lato';
    font-weight: 900;
    text-align: justify;
    font-size: 18px;
    color: #767e9e;
    margin-bottom: 8px;
    word-wrap: normal;
}

.personalities__description {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    font-size: 12px;
    text-align: justify;
    color: #666d89;
    margin-bottom: 21px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    span {
        padding-right: 8px;
        padding-bottom: 5px;    
    }
}

.social-networks__facebook {
    background-image: url('./assets/images/social/facebook.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;

    &:hover {
        cursor: pointer;
        background-image: url('./assets/images/social/active/facebook-active.png');
    }
}

.social-networks__google {
    background-image: url('./assets/images/social/google.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;

    &:hover {
        cursor: pointer;
        background-image: url('./assets/images/social/active/google-active.png');
    }
}

.social-networks__twitter {
    background-image: url('./assets/images/social/twitter.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;

    &:hover {
        cursor: pointer;
        background-image: url('./assets/images/social/active/twitter-active.png');
    }
}

.social-networks__linkedin {
    background-image: url('./assets/images/social/linkedin.png');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;

    &:hover {
        cursor: pointer;
        background-image: url('./assets/images/social/active/linkedin-active.png');
    }
}