$color-portfolio: #2d303a;
$color-portfolio-bottom: #323746;
$color-bold-text: #666d89;
$color-light-text: #767e9e;
$color-about: #f2f2f2;
$color-about-bottom: #ffffff;
$color-navigation-hover: #dedede;

$content-width: 1020px;